.card_container_wrapper {
  perspective: 800px;
}
.flip {
  animation: flip 500ms linear forwards;
}

@keyframes flip {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
